PORT=5000
NODE_ENV=development
MONGO_URI=
JWT_SECRET=replace_with_strong_secret_min_32_chars
JWT_EXPIRES_IN=10h
CLIENT_ORIGIN=

# Public URL of the backend application (used to generate file URLs)
APP_URL=

SEED_ADMIN_EMAIL=...
SEED_ADMIN_PASSWORD=...
SEED_EMPLOYEE_EMAIL=...
SEED_EMPLOYEE_PASSWORD=...